<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.splitbit">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name=".Application.SplitbitApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Profile.EditProfile"></activity>
        <activity android:name=".Profile.Profile" />
        <activity
            android:name=".GroupSplits.AllTransactions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupSplits.AddTransaction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupSplits.EventRoom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupSplits.CreateEvent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Settings.Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Authentication.Signin"
            android:screenOrientation="portrait"
            android:theme="@style/SignInTheme"/>
        <activity
            android:name=".Splitbit"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSecond"/>
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!--FCM-->
        <service android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".Services.MyFirebaseInstantIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

    </application>

</manifest>